/* Set global variables */
:root {
    --navbar-width: 64px;
    --color: grey;
    --contrast-color: rgb(0, 240, 60);
    --width: calc((900 * var(--scale)) + 15000px);
    --scale: 15px;
}

/* Design content */

.content {
    position: fixed;
    top: 69px;
    left: 69px;
    height: calc(100vh - ((64px) * 2));
    width: calc(100vw - ((64px + 5px) * 2));
    overflow-y: hidden;
    overflow-x: visible;
    background: rgba(255, 255, 255, 0.2);
}

.content::-webkit-scrollbar {
    width: 0;
}

.text {
    height: calc(100vh - ((64px) * 2));
    display: grid;
    grid-template-rows: repeat(20, 1fr);
}

.text > * {
    margin: calc(1 * var(--scale)) calc(25 * var(--scale)) calc(1 * var(--scale)) calc(5 * var(--scale));
    width: calc(40 * var(--scale));
    height: fit-content;
    padding: calc(1 * var(--scale));
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 2px 3px var(--contrast-color);
}

.text > p {
    font-size: calc(1.35 * var(--scale));
    font-weight: 600;
}

.text > *.hidden-top {
    grid-row: 2 / span 8;
}

.text > *.hidden-bottom {
    grid-row: 9 / span 8;
}

.text > .middle.hidden-bottom {
    grid-row: 6 / span 8;
}

.text > .middle.hidden-top {
    grid-row: 4 / span 8;
}

.text > .quiz {
    grid-row: 2 / span 17;
}

.section-title {
    font-size: calc(2.5 * var(--scale));
    font-weight: bold;
}

.end {
    margin-left: calc(15 * var(--scale));
    text-align: center;
}

.end > h1 {
    font-size: calc(5 * var(--scale));
    margin: 0;
    padding: 0;
}
.end > p {
    font-size: calc(1.5 * var(--scale));
    margin: 0;
    padding: 0;
}

/* Design Quiz */

.quiz {
    width: 75vw;
    height: auto;
    z-index: 1;
}

.quiz > *:not(.end-result) {
    position: relative;
    z-index: 1;
}

.quiz-title {
    text-align: center;
    font-size: calc(3.5 * var(--scale));
    font-weight: 900;
    margin: 0;
}

.question {
    text-align: center;
    font-size: calc(2.25 * var(--scale));
    font-weight: 600;
    margin: 0;
}

.options {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.option {
    margin: calc(1 * var(--scale));
    padding: calc(1.75 * var(--scale)) calc(1 * var(--scale)) calc(1.75 * var(--scale)) calc(1 * var(--scale));
    font-size: calc(1.5 * var(--scale));
    font-weight: 600;
}

.result {
    margin: calc(1 * var(--scale));
    padding: calc(1 * var(--scale));
    text-align: center;
    font-size: calc(5 * var(--scale));
    font-weight: 600;
}

.end-result {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.end-result > * {
    margin-top: calc(10 * var(--scale));
    font-size: calc(3 * var(--scale));
    font-weight: 800;
    text-align: center;
}

/* Design Scrollbar */

.scrollbar {
    --width: 75vw;
    position: absolute;
    overflow-y: hidden;
    overflow-x: scroll;
    top: calc(var(--navbar-width) - 56px);
    left: calc(var(--navbar-width) + ((100vw - 10px - (var(--navbar-width) * 2) - var(--width)) / 2));
    width: var(--width);
    height: 50px;
    z-index: 99;
}

.scrollbar div {
    width: 300vw;
    display: block;
}

.scrollbar::-webkit-scrollbar {
    height: 50px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #a4a4a4;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 60);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 65, 65);
}

.scrollbar::-webkit-scrollbar-thumb:active {
    background: rgb(70, 70, 70);
}


/* BACKGROUND */

.background {
    position: absolute;
}

.city {
    position: relative;
    width: var(--width);
    height: calc(((100vh - ((64px + 5px) * 2)) * 43) / 75);
    background-image: url("../city.png");
    background-size: contain;
    background-repeat: repeat-x;
    z-index: -1;
}
.road {
    position: relative;
    width: var(--width);
    height: calc(((100vh - ((64px + 5px) * 2)) * 32) / 75);
    background-image: url("../road.png");
    background-size: contain;
    background-repeat: repeat-x;
    z-index: -1;
}

.car {
    position: fixed;
}
.car img {
    height: calc(6 * var(--scale));
}